*.py[cod]
$ cd /usr/ports/devel/git


# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
cd projects/are/here/project

git remote add origin [user@]server:repos/are/here/project.git
git remote add origin [user@]server:repos/are/here/project.git
git push -u origin master
$ apt-get install git
[core]
	repositoryformatversion = 0
	filemode = true
	bare = true
[remote "origin"]
	fetch = +refs/*:refs/*
	mirror = true
	url = git://gitolite.kernel.org/pub/scm/editors/uemacs/uemacs.git
[gitweb]
	owner = Linus Torvalds

